#container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

#container .logo {
  grid-gap: 25px;
  width: 100%;
  height: 300px;
}

#container .logo img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#container ul {
  display: grid;
  grid-gap: 24px;
  list-style: none;
}

#container ul li {
  width: 100%;
  height: 250px;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  background-color: #212121;
}

#container ul li .title {
  margin-left: auto;
  font-size: 40px;
  position: absolute;
  top: 15px;
  right: 35px;
}

#container ul li .series {
  position: absolute;
  top: 75px;
  right: 35px;
  font-size: 25px;
}

#container ul li .type .typetxt{
  position: absolute;
  left: 340px;
  bottom: 30px;
  font-size: 25px;
}

#container ul li .type .icon{
  position: absolute;
  left: 340px;
  bottom: 50px;
  font-size: 25px;
}

#container ul .film .type {
  color: #ffc500;
}
#container ul .game .type {
  color: #5dff00;
}
#container ul .novel .type {
  color: #df61df;
}
#container ul .comic .type {
  color: #df8315;
}
#container ul .tv .type {
  color: #0303bc;
}

#container ul li .universe{
  position: absolute;
  right: 35px;
  bottom: 30px;
  font-size: 25px;
}

#container ul li .timeline{
  position: absolute;
  right: 500px;
  bottom: 30px;
  font-size: 25px;
}

#container ul li .date{
  position: absolute;
  right: 200px;
  bottom: 30px;
  font-size: 25px;
}

#container ul .legends .universe{
  color: #00ffd4;
}
#container ul .canon .universe{
  color: #ff0000;
}

#container ul li img {
  position: absolute;
  max-width: 100%;
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  left: 0px;
  top: 0px;
}
